{% extends "layout.twig" %}

{% block body %}
    <section class="hero is-dark is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <p class="title">
                    Create new game and play with your friend
                </p>
                <a class="button is-danger" href="/create-game">Create new game  </a>
            </div>
        </div>
    </section>
{% endblock %}