{% extends "layout.twig" %}

{% block body %}
    <section class="section">
        <div class="container">
            <form method="get" action="/join">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" placeholder="Enter a game Id" name="gameId">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
